body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
body {
    background-image: url(https://static.wixstatic.com/media/8a8033_a738085f564f4d43aa34edebaebae5b5~mv2_d_1600_1600_s_2.jpg/v1/fit/w_1000%2Ch_1000%2Cal_c%2Cq_80/file.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
}

  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"], button {
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4945a0;
  }

  ul div button {
    background-color: red;
    width: 100px;
  }

  #d1 div {
    display: flex;
    justify-content: space-between;
  }
  
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  li:hover {
    background-color: #f0f0f0;
  }